<div mat-dialog-title style="margin-bottom: -30px; margin-top: -50px">
  <h4>{{ data ? "Editar" : "Adicionar" }} Cliente</h4>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nome/Razão social:</mat-label>
        <input matInput type="text" formControlName="nomeRazao" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>CPF/CNPJ:</mat-label>
        <input matInput type="text" formControlName="cpfcnpj" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email:</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Telefone:</mat-label>
        <input matInput type="tel" formControlName="telefone" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date de Nascimento:</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dataNascimento"
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-label><b>Gender:</b></mat-label>
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="others">Others</mat-radio-button>
        <mat-radio-button value="others">Not Interested</mat-radio-button>
      </mat-radio-group>
    </div> -->
    <!-- <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Education:</mat-label>
        <mat-select formControlName="education">
          <mat-option *ngFor="let val of education" [value]="val"
            >{{ val }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Company:</mat-label>
        <input matInput placeholder="i.e Amazon" formControlName="company" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Experience:</mat-label>
        <input
          matInput
          placeholder="i.e 5"
          type="number"
          formControlName="experience"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Salary:</mat-label>
        <input
          matInput
          placeholder="i.e 15"
          type="number"
          formControlName="salary"
        />
        <mat-hint>In dollar</mat-hint>
      </mat-form-field>
    </div> -->
  </mat-dialog-content>
  <mat-dialog-actions class="action-btns">
    <button style="margin: 10px" mat-raised-button color="accent" type="submit">
      {{ data ? "Update" : "Save" }}
    </button>
    <button
      mat-raised-button
      type="button"
      color="warn"
      [mat-dialog-close]="false"
    >
      Cancel
    </button>
  </mat-dialog-actions>
</form>
